{% extends 'base-connected.html.twig' %}

{% block style %}
 {{ parent() }}
 <style>
     a, button {
         text-decoration: none;
         color: white !important;
     }
 </style>
{% endblock %}

{% block body %}

    <table class="table table-bordered">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ adherent.id }}</td>
        </tr>
        <tr>
            <th>Prénom</th>
            <td>{{ adherent.firstName }}</td>
        </tr>
        <tr>
            <th>Nom de famille</th>
            <td>{{ adherent.lastName }}</td>
        </tr>
        <tr>
            <th>Date de Naissance</th>
            <td>{{ adherent.birthDate | date('d F Y') }}</td>
        </tr>
        <tr>
            <th>Adresse</th>
            <td>{{ adherent.address }}</td>
        </tr>
        <tr>
            <th>Code Postale</th>
            <td>{{ adherent.zipcode }}</td>
        </tr>
        <tr>
            <th>Ville</th>
            <td>{{ adherent.city }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ adherent.email }}</td>
        </tr>
        <tr>
            <th>Téléphone</th>
            <td>{{ adherent.phone }}</td>
        </tr>
        <tr>
            <th>Date d'entrée</th>
            <td>{{ adherent.createdAt | date('D d F Y')}}</td>
        </tr>
        </tbody>
    </table>

    <div style="display: flex;justify-content: space-between;">
        <button class="btn btn-info "><a class="mb-2" style="text-decoration: none; color: white;" href="{{ path('adherent') }}">Retour a la liste des adherents</a></button>

        <button class="btn btn-warning "><a class="mb-2" style="text-decoration: none; color: white;" href="{{ path('adherent_edit', {'id': adherent.id}) }}">Modifier cet adhérent</a></button>

        {{ include('adherent/_delete_form.html.twig') }}
    </div>

{% endblock %}